<div *ngIf="character">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Species</th>
        <th>Type</th>
        <th>Gender</th>
        <th>Origin</th>
        <th>Location</th>
        <th>Picture</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{character.name}}</td>
        <td>{{character.status}}</td>
        <td>{{character.species}}</td>
        <td>{{character.type}}</td>
        <td>{{character.gender}}</td>
        <td>{{character.origin.name}}</td>
        <td>{{character.location.name}}</td>
        <td><img src="{{ character.image }}" alt="{{ character.name }}'s image"></td>
      </tr>

    </tbody>
  </table>
</div>
