<footer class="flex-grow-0 bg-dark text-light py-3">
  <div>
    <div class="row">
      <div class="col-md-3">
        <p class="text-left ms-1">&copy; RICK AND MORTY WEBSITE</p>
      </div>
      <div class="col-md-6">
        <ul class="nav d-flex justify-content-center align-items-center">
          <li class="nav-item">
            <a class="nav-link border rounded" href="#">Welcome</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border rounded ms-1" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border rounded ms-1" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
