<ul class=" navbar navbar-expand-lg">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group mx-1">
        <input class="form-control rounded" type="text" placeholder="enter a name"
          [(ngModel)]="charactersService.searchTermCharacter.name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group mx-1">
        <input class="form-control rounded" type="text" placeholder="enter a species"
          [(ngModel)]="charactersService.searchTermCharacter.species">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group mx-1">
        <input class="form-control rounded" type="text" placeholder="enter a type"
          [(ngModel)]="charactersService.searchTermCharacter.type">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group mx-1">
        <select class=" custom-select rounded" [(ngModel)]="charactersService.searchTermCharacter.status">
          <option *ngFor="let status of listStatus" [value]="status">{{status | uppercase}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group mx-1">
        <select class="rounded" [(ngModel)]="charactersService.searchTermCharacter.gender">
          <option *ngFor="let gender of genders" [value]="gender">{{gender | uppercase}}</option>
        </select>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-sm" (click)="charactersService.search()">Search</button>

  <div class="form-group mx-1 mt-3 text-danger" *ngIf="charactersService.errorMessage !== null">
    <p>{{ charactersService.errorMessage }}</p>
  </div>
</ul>
<div class="pagination">

  <button (click)="charactersService.searchPage(1)">1</button>

</div>
<div class="pagination">
  <button (click)="charactersService.previousPage()" [disabled]="charactersService.currentPage === 1">Previous</button>
  <button *ngFor="let pageNumber of charactersService.pageNumbers" (click)="charactersService.searchPage(pageNumber)"
    [class.active]="pageNumber === charactersService.currentPage">{{ pageNumber }}</button>
  <button (click)="charactersService.nextPage()"
    [disabled]="charactersService.currentPage === charactersService.totalPages">Next</button>
</div>
